= simple_form_for @dept_title do |f|


  .form-group.row
    = f.label :name
    = f.text_field :name, {class: 'form-control'}
    
  .form-actions
    = f.submit 'Submit'
    
  = link_to 'Back', dept_titles_path