= simple_form_for @contact do |f|

  .form-group.row
    = f.label :first_name
    = f.text_field :first_name, {class: 'form-control'}
  
  .form-group.row
    = f.label :last_name
    = f.text_field :last_name, {class: 'form-control'}
  
  .form-group.row
    = f.label :dept_title
    = collection_select :contact, :dept_title_id, DeptTitle.all, :id, :name, { prompt: 'Select Dept/Title' }
  
  .form-group.row
    = f.label :phone_extension
    = f.text_field :phone_extension, {class: 'form-control'}
  
  .form-group.row
    = f.label :email
    = f.text_field :email, {class: 'form-control'}
  
  .form-group.row
    = f.label :cell_phone
    = f.text_field :cell_phone, {class: 'form-control'}
    
  .form-actions
    = f.submit 'Submit'
  
  =link_to 'Back', contacts_path, class: 'btn'